<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CopyCat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css?v=1.0" /> <!-- Přidán query string -->
</head>
<body>
    <div class="d-flex flex-column min-vh-100">
        <header>
            <nav class="navbar navbar-expand-sm navbar-light bg-light px-4 py-2">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CopyCat</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Domů</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Search" asp-action="Index">Vyhledat</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container mt-4 mb-4 flex-grow-1">
            <!-- Odsazení hlavního obsahu -->
            <main role="main">
                @RenderBody()
            </main>
        </div>
        <footer class="footer text-muted py-3">
            <div class="container">
                &copy; 2024 - CopyCat - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
