@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Vítejte v aplikaci CopyCat</h1>
    <div>
        <a style="font-size: 1.3rem;">Tato aplikace slouží k vyhledávání výrazů pomocí google a umožnuje výsledky uložit ve formátu docx.</a>
    </div>
    <!-- Odkaz na obrázek -->
    <img src="~/images/Copycat.jpg" alt="Cat image" class="mt-3">
    <a class="btn btn-primary mt-3" asp-controller="Search" asp-action="Index">Přejít k vyhledávání</a>
</div>

